# creating one variable containg following type of data

#string

In [4]:
a="pw skills"

#float

In [5]:
b=49.33

#list

In [6]:
l=[4,5,99.34, "pw skills", True]

#tupple

In [7]:
l[1]

5

#Q2. Given are some following variables containing data:

#(i) var1 = ‘ ‘
answer: str

#(ii) var2 = ‘[ DS , ML , Python]’
answer: str

#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
answer: list

#(iv) var4 = 1.
answer: integer

#Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [9]:
5/4 #divisom

1.25

In [10]:
20%3 #shows us the remainder

2

In [11]:
5//2 #floor function

2

In [12]:
2**3 #exponential

8

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [15]:
l=[2,3,4,10,"pw skills", 94.34, True,range(10),12,24]
for i in l:
    print(type(i),i)

<class 'int'> 2
<class 'int'> 3
<class 'int'> 4
<class 'int'> 10
<class 'str'> pw skills
<class 'float'> 94.34
<class 'bool'> True
<class 'range'> range(0, 10)
<class 'int'> 12
<class 'int'> 24

#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [27]:
a=30
b=3
i=1
n=10
while n>i:
    if a%b==0:
    
    
    
     print(i)
    i=i+1

1
2
3
4
5
6
7
8
9

#Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [34]:
for i in range(26):
    if i%3==0:
        print(i,"divisible by 3")
    else:
        print(i,"not divisible by 3")

0 divisible by 3
1 not divisible by 3
2 not divisible by 3
3 divisible by 3
4 not divisible by 3
5 not divisible by 3
6 divisible by 3
7 not divisible by 3
8 not divisible by 3
9 divisible by 3
10 not divisible by 3
11 not divisible by 3
12 divisible by 3
13 not divisible by 3
14 not divisible by 3
15 divisible by 3
16 not divisible by 3
17 not divisible by 3
18 divisible by 3
19 not divisible by 3
20 not divisible by 3
21 divisible by 3
22 not divisible by 3
23 not divisible by 3
24 divisible by 3
25 not divisible by 3

#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [35]:
a="rudraksh"
a[2]="f" #it will show eror that is str are imutable it means we cannot change the character of the str

TypeError: 'str' object does not support item assignment

In [36]:
l=[1,2,3,"pw","rjm"]

In [37]:
l[4]='abcd'

In [38]:
l #here we can see that items in a list can be changed can be mutate

[1, 2, 3, 'pw', 'abcd']